body { 
    background-image: url("16234713.jpg");
}

.content {
    max-width: 500px;
    margin: auto;
  }

button{
    color: black;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: hsl(294, 70%, 56%);
    font-size: 110%;
    border-radius: 50%;
}